<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testeadt"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".FormJogador"
            android:label="@string/title_activity_form_jogador" />
        <activity
            android:name=".Feed"
            android:label="@string/title_activity_feed" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".NovoUsuario"
            android:label="@string/title_activity_novo_usuario" />
        <activity
            android:name=".Pesquisar"
            android:label="@string/title_activity_pesquisar" />
        <activity
            android:name=".ResultadoPesquisar"
            android:label="@string/title_activity_resultado_pesquisar" />
        <activity android:name=".Time"></activity>
    </application>

</manifest>
